{% extends 'curso/layout.html' %}

{% block content %}
    <div class="area-details">
        <h2>{{ area }}</h2>

        <div class="disciplinas-list">
            <p>Descubra as disciplinas disponíveis na área científica de {{ area }}:</p>
            <ul>
                {% for disciplina in disciplinas %}
                    <li>
                        <a href="{% url 'curso:disciplina' disciplina.id %}" class="disciplina-link">{{ disciplina.nome_disciplina }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
            <a href="{% url 'curso:nova_disciplina' area.id %}">
                <input type="submit" value="Criar nova disciplina">
            </a>
            {% endif %}
            {% if request.user.is_authenticated and is_editor %}
            <a href="{% url 'curso:apaga_area' area.id %}">
                <button>Apagar Area Cientifica</button>
            </a>
        {% endif %}
        </div>
    </div>
{% endblock %}

<style>
    .area-details {
        padding: 20px;
    }

    .disciplinas-list {
        margin-top: 20px;
    }

    .disciplina-link {
        color: #007bff; /* Blue color for links */
        text-decoration: none; /* Remove default underline */
        transition: color 0.3s; /* Smooth color transition on hover */
    }

    .disciplina-link:hover {
        color: #0056b3; /* Darker blue color on hover */
        text-decoration: underline; /* Underline on hover */
    }
</style>
