<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programação Web</title>
</head>
<body>
    <header>
        <h1>Meus Interesses em Programação Web</h1>
        <nav>
            <a href="{% url 'pwsite:index' %}">Introducao</a>
            <a href="{% url 'pwsite:sobre' %}">Sobre</a>

        </nav>
    </header>
    <main>
        <p>Olá! Sou apaixonado por Programação Web e aqui estão algumas coisas que tenho gostado de aprender:</p>
        <ul>
            <li>Desenvolvimento de sites dinâmicos com HTML, CSS e JavaScript.</li>
            <li>Criação de aplicativos web com frameworks como Django e Flask em Python.</li>
            <li>Integração de APIs para desenvolver funcionalidades avançadas em meus projetos.</li>
            <li>Otimização de performance e segurança em aplicações web.</li>
            <li>Exploração de novas tecnologias como Progressive Web Apps (PWAs) e WebAssembly.</li>
        </ul>
        <p>Além disso, estou interessado em aprender mais sobre:</p>
        <ul>
            <li>Desenvolvimento de aplicações móveis usando tecnologias web como React Native.</li>
            <li>Implementação de inteligência artificial e machine learning em projetos web.</li>
            <li>Desenvolvimento de jogos web e realidade virtual.</li>
            <li>Criação de soluções para Internet das Coisas (IoT) e dispositivos conectados.</li>
            <li>Construção de plataformas de e-commerce e sistemas de pagamento online.</li>
        </ul>
        <p>Estou sempre em busca de ideias para novos projetos, como:</p>
        <ul>
            <li>Um marketplace de produtos artesanais, conectando artesãos a compradores de todo o mundo.</li>
            <li>Uma plataforma de ensino online para cursos de tecnologia, com interatividade e gamificação.</li>
            <li>Um aplicativo de gestão de tarefas focado em equipes de desenvolvimento ágil.</li>
            <li>Um site para compartilhar receitas culinárias com funcionalidades de busca avançada e comunidade.</li>
            <li>Uma rede social temática para entusiastas de viagens compartilharem suas experiências e dicas.</li>
        </ul>
    </main>
</body>
</html>
