<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Artigos{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="dark-mode">
    <div class="container">
        <div class="navbar">
            <h1>Artigos</h1>
            <div class="nav-buttons">
                <a href="{% url 'artigos:index' %}"><i class="material-icons">home</i>Home</a>
                {% if request.user.is_authenticated %}
                    <div class="user-info">
                        <i class="material-icons">person</i>
                        <p>{{ request.user.username }}</p>
                    </div>
                    <a href="{% url 'logout' %}"><button><i class="material-icons">logout</i>Logout</button></a>
                {% else %}
                    <a href="{% url 'login' %}"><button><i class="material-icons">login</i>Login</button></a>
                {% endif %}
                <button onclick="toggleDarkMode()">Toggle Dark/Light Mode</button>
            </div>
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
            document.body.classList.toggle('light-mode');
        }
    </script>
</body>
</html>
