<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antártica</title>
    <style>
        body {
            background: white;
            color: black;
            font-family: Arial, sans-serif;
        }
        h2 {
            color: blue; /* Cor dos títulos dos continentes */
        }
    </style>
</head>
<body>
    <header>
        <h1>Antártica</h1>
        <nav>
           <a href="{% url 'novaapp:continentes' %}">Continentes</a>
        </nav>
    </header>

    <main>
        <h2>Fatos sobre a Antártica</h2>
        <ul>
            <li>A Antártica é o quinto maior continente do mundo.</li>
            <li>É o continente mais frio, ventoso e seco do planeta.</li>
            <li>Apesar de ser um deserto, a Antártica contém cerca de 70% da água doce do mundo.</li>
            <li>No inverno, a população humana da Antártica varia de 1.000 a 5.000 pessoas, principalmente cientistas e pessoal de apoio.</li>
            <li>O Tratado da Antártica, assinado em 1959, estabelece a Antártica como uma reserva natural dedicada à paz e à ciência.</li>
        </ul>

        <h2>Países que Conduzem Pesquisas na Antártica</h2>
        <ul>
            <li>Austrália</li>
            <li>Chile</li>
            <li>Estados Unidos</li>
            <li>Argentina</li>
            <li>Reino Unido</li>
            <li>Nova Zelândia</li>
            <li>Brasil</li>
            <li>África do Sul</li>
            <li>Uruguai</li>
            <li>Rússia</li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Antártica</p>
    </footer>

</body>
</html>
