<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Países da Ásia</title>
    <style>
        body {
            background: white;
            color: black;
            font-family: Arial, sans-serif;
        }
        h2 {
            color: blue; /* Cor dos títulos dos continentes */
        }
    </style>
</head>
<body>
    <header>
        <h1>Países da Ásia</h1>
        <nav>
           <a href="{% url 'novaapp:continentes' %}">Continentes</a>
        </nav>
    </header>

    <main>
        <h2>Ásia</h2>
        <ul>
            <li>Afeganistão</li>
            <li>Arábia Saudita</li>
            <li>Armênia</li>
            <li>Azerbaijão</li>
            <li>Bahrain</li>
            <li>Bangladesh</li>
            <li>Brunei</li>
            <li>Butão</li>
            <li>Cazaquistão</li>
            <li>China</li>
            <li>Chipre</li>
            <li>Coreia do Norte</li>
            <li>Coreia do Sul</li>
            <li>Emirados Árabes Unidos</li>
            <li>Filipinas</li>
            <li>Geórgia</li>
            <li>Iêmen</li>
            <li>Índia</li>
            <li>Indonésia</li>
            <li>Iraque</li>
            <li>Irã</li>
            <li>Israel</li>
            <li>Japão</li>
            <li>Jordânia</li>
            <li>Quirguistão</li>
            <li>Kuwait</li>
            <li>Laos</li>
            <li>Lebannon</li>
            <li>Malásia</li>
            <li>Maldivas</li>
            <li>Mongólia</li>
            <li>Mianmar (Birmânia)</li>
            <li>Nepal</li>
            <li>Omã</li>
            <li>Paquistão</li>
            <li>Catar</li>
            <li>Cingapura</li>
            <li>Síria</li>
            <li>Sri Lanka</li>
            <li>Tadjiquistão</li>
            <li>Tailândia</li>
            <li>Timor-Leste</li>
            <li>Turcomenistão</li>
            <li>Turquia</li>
            <li>Uzbequistão</li>
            <li>Vietnã</li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Países da Ásia</p>
    </footer>

</body>
</html>
