<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Países das Américas</title>
    <style>
        body {
            background: white;
            color: black;
            font-family: Arial, sans-serif;
        }
        h2 {
            color: blue; /* Cor dos títulos dos continentes */
        }
    </style>
</head>
<body>
    <header>
        <h1>Países das Américas</h1>
        <nav>
           <a href="{% url 'novaapp:continentes' %}">Continentes</a>
        </nav>

    </header>

    <main>
        <h2>América do Norte</h2>
        <ul>
            <li>Canadá</li>
            <li>Estados Unidos</li>
            <li>México</li>
            <li>Belice</li>
            <li>Costa Rica</li>
            <li>El Salvador</li>
            <li>Guatemala</li>
            <li>Honduras</li>
            <li>Nicarágua</li>
            <li>Panamá</li>
        </ul>

        <h2>América Central</h2>
        <ul>
            <li>Antígua e Barbuda</li>
            <li>Bahamas</li>
            <li>Barbados</li>
            <li>Cuba</li>
            <li>Dominica</li>
            <li>Granada</li>
            <li>Haiti</li>
            <li>Jamaica</li>
            <li>São Cristóvão e Nevis</li>
            <li>Santa Lúcia</li>
            <li>São Vicente e Granadinas</li>
            <li>Trindade e Tobago</li>
        </ul>

        <h2>América do Sul</h2>
        <ul>
            <li>Argentina</li>
            <li>Bolívia</li>
            <li>Brasil</li>
            <li>Chile</li>
            <li>Colômbia</li>
            <li>Equador</li>
            <li>Guiana</li>
            <li>Paraguai</li>
            <li>Peru</li>
            <li>Suriname</li>
            <li>Uruguai</li>
            <li>Venezuela</li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Países das Américas</p>
    </footer>

</body>
</html>
